/* BASE STYLES */

.moduleContent {max-width: 780px;padding:5px;}

.paginationContainer {margin:10px 5px;}
.paginationLeft {float:left;width:200px;}
.paginationRight {float:right;overflow:hidden;text-align:right;}
.paginationItem {border: 1px solid silver;background: #ededed;padding: 2px 5px;margin-right: 2px;display: inline-block;}
.paginationItem.current {font-weight:bold;border-color: gray;}

.alert {padding:7px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
.alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.alert-info {color: #31708f;background-color: #d9edf7;border-color: #bce8f1;}
.alert-warning {color: #8a6d3b;background-color: #fcf8e3;border-color: #faebcc;}
.alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}

.simple-success {color: green;font-weight: bold;}
.simple-error {color: red;font-weight: bold;}

.modnav {margin-bottom:15px; margin-left:5px;}

.modulename {margin:15px 0;}
.modulename a {font-size: 25px;}
.modulename a:link {color:#08c; text-decoration:none;}

.progressContainer {margin:20px 0;display:none;}
.progress-bar .sr-only {position:static !important;line-height: 20px;}


/* MODULE STYLES */

#domainsstats td, #domainsstats th {text-align:center;}
#domainsstats td {font-weight:bold;}

label.branding{
    margin-top:13px;
}

p.branding{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

div.branding{
    margin: 5px 0 15px 0;
}

p.headTitle{
    font-size: 30px;
    margin-left:3%;
    margin-bottom:4%;
    margin-top:4%;    
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

div.brandLogo{
    padding:5px;
    margin-bottom:8px;
}